[submodule "open-education-backend"]
	path = open-education-backend
	url = https://github.com/SamuelB7/open-education-backend
[submodule "open-education-web"]
	path = open-education-web
	url = https://github.com/SamuelB7/open-education-web
